apiVersion: apps/v1
kind: Deployment
metadata:
  name: student-app
spec:
  replicas: 1
  selector:
    matchLabels:
      app: student-app
  template:
    metadata:
      labels:
        app: student-app
    spec:
      containers:
      - name: student-app
        image: mmkhan1/student-app:latest
        imagePullPolicy: Always
        ports:
        - containerPort: 5000
        restartPolicy: Always
---
apiVersion: v1
kind: Service
metadata:
  name: student-app-service
spec:
  type: NodePort
  selector:
    app: student-app
  ports:
    - port: 80
      targetPort: 5000
      nodePort: 30005
